.todo-container {
  width: 500px;
  margin: 5px auto;
  margin-top: 20px;
}

.add-todo-container {
  margin-bottom: 10px;
}

.add-todo-container .col-md-10 {
  padding-left: 0;
}

.add-todo-container .col-md-2 {
  padding-right: 0;
  text-align: right;
}

.todo-container h1 {
  font-family: 'Over the Rainbow', cursive;
  font-size: 25px;
}