<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<<<<<<< HEAD
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/main.css">
    <script type="text/javascript" async="async" defer="defer" src="application.js"></script>
  </head>
  <body>
    <div id="app">
      <h4>Detecting...</h4>
    </div>
=======
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/main.css">
    <script type="text/javascript" async="async" defer="defer" src="/application.js"></script>

  </head>
  <body>
    
  <header></header>
  <main>
    <div class="media-container">
      <audio controls="true">
        <source src="/media/hauntedmans_sound_effects.mp3" type="audio/mpeg"
      </audio>
      <video>
        <source src="/media/kikizo.com-sonicheroes_01_cutscene1_512kb.mp4" type="video/mp4">
      </video>
    </div>
  </main>
  <footer></footer>

>>>>>>> a53a3615da7ab047a805b9d1763687263ffb55a1
  </body>
</html>